.header
  &
    padding-left 15px
    padding-right 15px
    border-bottom 1px solid #e5e5e5

  /* Make the masthead heading the same height as the navigation */
  h3
    margin-top 0
    margin-bottom 0
    line-height 40px
    padding-bottom 19px

@media screen and (min-width: 768px)
  /* Remove the padding we set earlier */
  .header
    padding-left 0
    padding-right 0
    margin-bottom 30px // Space out the masthead