.jumbotron
  h1
    i.icon-beer.icon-2x
    | 
    i.icon-btc
    | runch with Beer

  p.lead.
    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce 
    dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut 
    fermentum massa justo sit amet risus.
  
  p
    a#btn-home-signup.btn.btn-lg.btn-success(href="#") Sign up today

  //- Signup form, not visible by default
  form#form-home-signup.form-inline.masked(role="form")
    .form-group
      label.sr-only(for="exampleInputEmail2") Email address
      input#exampleInputEmail2.form-control(type="email", 
        placeholder="Enter email")

    .form-group
      label.sr-only(for="exampleInputPassword2") Password
      input#exampleInputPassword2.form-control(type="password", 
        placeholder="Password")

    .form-group
      label.sr-only(for="exampleInputPassword2") Password
      input#exampleInputPassword2.form-control(type="password", 
        placeholder="Password")

    button.btn.btn-default(type="submit") Sign up


.row.marketing
  .col-lg-6
    h4 Subheading
    p.
      Donec id elit non mi porta gravida at eget metus. Maecenas faucibus 
      mollis interdum.

    h4 Subheading
    p.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras 
      mattis consectetur purus sit amet fermentum.

    h4 Subheading
    p Maecenas sed diam eget risus varius blandit sit amet non magna.
  
  .col-lg-6
    h4 Subheading
    p.
      Donec id elit non mi porta gravida at eget metus. Maecenas faucibus 
      mollis interdum.

    h4 Subheading
    p.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras 
      mattis consectetur purus sit amet fermentum.

    h4 Subheading
    p Maecenas sed diam eget risus varius blandit sit amet non magna.