.header
  ul.nav.nav-pills.pull-right
    //li(data-route-name="default#home")
      a(href="/") Home
    li(data-route-name="kingdom#commerce")
      a(href="/commerce") Commerce
    li(data-route-name="kingdom#score")
      a(href="/score") Score panthéon
    //li(data-route-name="default#about")
      a(href="/about") À propos
  h3.text-muted
    i.fa.fa-wrench
    |  Kingd
    i.fa.fa-cog.fa-small
    | mTools

  div.alert.alert-warning
    strong Reporter un bug : 
    | messagerie muxxu sous le pseudo 
    strong Tronix
    br
    br
    strong Le calcul est basé sur la formule de basicbrute