.header
  ul.nav.nav-pills.pull-right
    //li(data-route-name="default#home")
      a(href="/") Home
    li(data-route-name="kingdom#commerce")
      a(href="/commerce") Commerce
    li(data-route-name="kingdom#score")
      a(href="/score") Score panthéon
    //li(data-route-name="default#about")
      a(href="/about") À propos
  h3.text-muted
    i.fa.fa-wrench
    |  Kingd
    i.fa.fa-cog.fa-small
    | mTools

  div.alert.alert-danger
    strong Réponse aux rageux : 
    | Ce site a été réalisé en 
    strike 2h
    |  3h top-chrono, j'ai été à l'essentiel, 
    strike pas encore
    |  un peu débuggé et design pas fait.
    br
    br
    strong Reporter un bug : 
    | messagerie muxxu sous le pseudo 
    strong Tronix
    br
    br
    strong Le calcul est basé sur la formule de basicbrute