.header
  //ul.nav.nav-pills.pull-right
    li(data-route-name="default#home")
      a(href="/") Home
    li(data-route-name="kingdom#commerce")
      a(href="/commerce") Commerce
    li(data-route-name="default#about")
      a(href="/about") À propos
  h3.text-muted
    i.fa.fa-wrench
    |  Kingd
    i.fa.fa-cog.fa-small
    | mTools