.header
  ul.nav.nav-pills.pull-right
    li(data-route-name="default#home")
      a(href="/") Home
    li(data-route-name="exemples/tasks#index exemples/tasks#edit exemples/tasks#new exemples/tasks#show")
      a(href="/exemples/tasks") Task Manager
    li(data-route-name="default#about")
      a(href="/about") About
    li(data-route-name="default#contact")
      a(href="/contact") Contact
  h3.text-muted
    i.icon-beer
    | 
    i.icon-btc
    | runch with Beer