.input-group
  span.input-group-addon
    input.toggle(type="checkbox", checked=done)
  label.form-control=title
  input.form-control.edit(type="text", value=title)
  span.input-group-btn
    button.destroy.btn.btn-default.icon-remove &nbsp;