form.navbar-form
  .form-group
    .input-group.input-group-lg
      span.input-group-addon
        i.fa.fa-eur.fa-fw
      input.form-control(name="commerce",type="text",placeholder="Commmerce initial")
  .form-group
    .input-group.input-group-lg
      span.input-group-addon
        i.fa.fa-eur.fa-fw
      input.form-control(name="wantedCommerce",type="text",placeholder="Commerce désiré")
  .form-group
    .input-group.input-group-lg
      span.input-group-addon
        i.fa.fa-users.fa-fw
      input.form-control(name="garnison",type="text",placeholder="Garnison initiale")
  //.form-group
    .input-group.input-group-lg
      span.input-group-addon
        i.fa.fa-users.fa-fw
      input.form-control(name="tours",type="text",placeholder="Nombre de tours")

div#result

div#chart(style="width:100%;height:400px;")